:root {
  --ff-main: chivo, sans-serif;

  --fs-title: 3.25rem;
  --fs-body: 1.125rem;

  --lh-title: 1.5;
  --lh-body: 2;

  --clr-bg-primary: hsl(224, 35%, 11%);
  --clr-bg-secondary: hsl(225, 26%, 23%);
  --clr-text-main: hsl(0, 0%, 100%);
  --clr-text-body: hsl(225, 40%, 83%);
  --clr-accent: hsl(157, 74%, 62%);
  --clr-accent-hover: #B3FFE2;
  --clr-grad: 18, 23, 37;
}

@media (max-width: 375px) {
  :root {
    --fs-title: 1.625rem;
    --fs-body: 0.938rem;
  }

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p,
span {
  margin: 0;
  font-weight: 300;
}

html {
  font-family: var(--ff-main);
}
body {
  min-height: 100vh;
  background: linear-gradient(rgba(var(--clr-grad), 0.9), rgba(var(--clr-grad), 0.9)),url(./assets/mobile/image-host.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

header {
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  color: var(--clr-text-main);
  text-transform: uppercase;
}

.accent {
  color: var(--clr-accent)
}

p {
  color: var(--clr-text-body);
  line-height: var(--lh-body);
  font-size: var(--fs-body);
  max-width: 35ch;
}

.podcasts-images-wrapper {
  max-width: 315px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.podcasts-images-wrapper > * {
  display: block;
  width: 100%;
  flex-basis: 55px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%; 
  gap: 1rem;
  margin-block: 2rem;
}

input,
button {
  width: 90%;
  align-self: center;
  border-radius: 20px; 
  min-height: 3rem;
} 

input {
  padding-inline: 2rem;
  font: inherit;
}

.error {
  color: #FB3E3E;
}

button {
  border: none;
  background-color: var(--clr-accent);
  color: var(--clr-bg-primary);
  font: inherit;
  transition: background-color 150ms ease-in;
}

button:hover {
  background-color: var(--clr-accent-hover);
}